.Service-area .col-lg-3 {
	margin-bottom: 30px;
}
.single-tutor-area {
	box-shadow: 0 4px 12px rgba(0,0,0,.1);
	padding: 15px;
	border-radius: 10px;
	height: 100%;
}
.single-tutor-area h2 {
	font-size: 20px;
	padding-top: 15px;
}
.single-tutor-area h3 {
	font-size: 18px;
	font-weight: 400;
}
.single-tutor-area span {
	font-size: 15px;
}
.single-tutor-area p {
	font-size: 15px;
	padding-top: 15px;
}
.single-tutor-area button {
	padding: 10px 40px;
	background: #6C63FF;
	border: 0;
	color: #FFF;
	border-radius: 40px;
	margin-bottom: 10px;
}
.single-image {
	width: 115px;
	height: 115px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	object-fit: cover;
}
.single-image img {
	width: 100%;
	height: 100%;
}